[Desktop Entry]
Type=Application
Version=1.0
Name=Prebackup
GenericName=Organize your directories before a backup
Comment=Organize your directories before a backup
Exec=prebackup
Icon=prebackup
Terminal=false
Categories=Qt;Utility;System;Archiving;
