[Unit]
Description=Universal Media Server
Wants=network.target
After=syslog.target network-online.target rpcbind.service

[Service]
Type=simple
User=%I
EnvironmentFile=/etc/conf.d/universalmediaserver-rar2fs
ExecStartPre=/usr/bin/sudo /bin/mkdir -p $VIDDIR
ExecStartPre=/usr/bin/sudo /usr/bin/rar2fs -o allow_other -o uid=$UMS_UID -o gid=$UMS_GROUP --seek-length=1 $MOVDIR $VIDDIR
ExecStart=/opt/universalmediaserver-rar2fs/UMS.sh /home/%I/.config/UMS/UMS.conf ${UMS_USER:+--user} ${UMS_USER} ${UMS_GROUP:+--group} ${UMS_GROUP}
ExecStop=/bin/umount -f $VIDDIR;rmdir $VIDDIR
WorkingDirectory=/home/%I/.config/UMS/

[Install]
WantedBy=multi-user.target
